.wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .text {
    margin: 0;
  }
  .btn {
    background-color: #e68b03;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  